.body{
  min-width: 400px;
}
.post-wrap{
  width: 45%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.search-form{
  width:75%;
  padding-right: 0px;
  display: inline;
}
.search-button{
  width:25%;
  padding-left: 0px;
  display: inline;
}
.post-image {
  width: 100%;
  height: auto;
}
.post-user{
  color: rgb(45, 43, 43);
}
.post-date{
  font-style: italic;
  color: rgb(168, 168, 168);
}
.comment-user{
  font-weight: bold;
  color: blue;
  margin-right: 50px;
}
.comment-content{
  margin-left: 10px;
  font-size: 20px;
}
.ups-n-downs{
  border-top: 1px solid black;
  height: 20px;
}
.ups-image{
  padding-left: 10px;
}
.ups-number{
  padding-left: 40px;
}
.next-comment{
  border-style: solid;
  border-radius: 5px;
  margin-top: 20px;
}
.user-and-date{
  border-bottom: 2px solid blue;
  background-color: lightgrey;
}
.votes{
  float: left;
}
.post{
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
  border-bottom-width: 1px;
  border-bottom-color: rgb(116, 116, 116);
  border-bottom-style: solid;
}
.loader{
  padding-bottom: 40px;
}

textarea{
  resize: vertical;
  width: 100%;
}

.new-comment{
  border-style: solid;
  border-color: lightblue;
  border-radius: 5px;
  margin-top: 20px;
}

.the-comments{
  padding-bottom: 100px;
}

.new-comment-content{

}

#voted-up{
  color: blue;
}

#voted-down{
  color: red;
}

#not-voted-up{
  color: black;
}

#not-voted-down{
  color: black;
}

#signin-btn{
  float:left;
  margin-top: 6px;
  margin-left: 15px;
}
#post-input-col1{
  padding-left: 0px;
}

.upload-label{
  font-size: 18px;
}
#upload-c{
  margin-left: 20px;
}
.error-box{
  background-color: rgba(226, 122, 89, 0.85);
  padding-left: 10px;
}
.bTitle{
  color: rgb(49, 150, 214);
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 10px;
  padding-left: 15px;
}
.f-lbl{
  float: left;
  padding-left: 15px;
  font-weight: bold;
  padding-top: 7px;
}

#account-btn {
  margin-top: 8px;
}

#upload{
  margin-top: 8px;
  margin-right: 10px;
}
#clickableImage{
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
#separator-line{
  border-right-width: 0.8px;
  border-right-color: rgb(31, 31, 31);
  border-right-style: solid;
  box-sizing: border-box;
}
#signup-form{
  margin-left: 5px;
  float-left;
}

.mandatory{
  color: rgb(255, 4, 4);
}

#ref-wrap{
  padding: 0px 0px 0px 0px;
}

@media only screen and (max-width: 820px) {
  #searchInput{
    width: 120px;
  }
}

@media only screen and (max-width: 992px) {
  #separator-line{
    border-right-width: 0.0px;
    border-right-style: none;
    border-bottom-width: 0.8px;
    border-bottom-color: rgb(31, 31, 31);
    border-bottom-style: solid;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .post-wrap{
    width: 100%;
  }

}

@media only screen and (max-width: 767px) {
  .#searchInput{
    width: 75%;
  }
}
